form{
    margin-top: 50px;
    width: 400px;
}
input{
    width: 350px;
    height: 30px;
    padding-left: 10px;
}
.add-btn{
    margin-left: 10px;
    width: 100px;
    height: 40px;
    background-color: blue;
    border:none;
    border-radius: 5px;
    color: white;
}